:root {
  /* Color variables */
  --grey-alpha: #23252C;
  --grey-beta: #1A1B21;
  --grey-gamma: #161619;
  --grey-delta: #918E9B;
  --linkedin-blue: #5093E2;
  --accent-peach: #F3BF99;
  --dim-white-alpha: #F5F5F5;
  --dim-white-beta: #DCDCDC;
  --dim-white-gamma: #918E9B;
}

body > * {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

.card {
  max-width: 317px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  background-color: var(--grey-beta);
  padding: 34px;
}

.full-name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  color: white;
  margin-bottom: 3px;
  margin-top: 0;
  padding: 0;
}

.occupation, .website-link {
  font-weight: normal;
  text-align: center;
  vertical-align: top;
  padding: 0;
}

.occupation {
  font-size: 12.8px;
  color: var(--accent-peach);
  margin-top: 3px;
  margin-bottom: 4.4px;
}

.website-link {
  font-size: 10.24px;
  line-height: 150%;
  color: var(--dim-white-alpha);
  margin-top: 4.4px;
}

.details-headline, .details-body {
  line-height: 150%;
  text-align: left;
  vertical-align: top;
}

.details-headline {
  font-size: 16px;
  font-weight: bold;
  color: var(--dim-white-alpha);
}

.details-body {
  font-size: 10.24px;
  font-weight: normal;
  color: var(--dim-white-beta);
}

.person-photo {
  aspect-ratio: 1 / 1;
  width: 317px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 17px;
}

    .button {
      border-radius: 6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      padding: 9px 11px 9px 13px;
      flex-basis: 100%;
    }

    .button-label {
      margin-left: 8px;
    }

    .email-button {
      background-color: white;
      color: var(--grey-gamma);
    }

    .linkedin-button {
      background-color: var(--linkedin-blue);
      color: white;
    }


.body-text-container {
  margin-top: 33px;
  margin-left: 36x;
  margin-right: 34px;
  margin-bottom: 24px;
}

    .body-text-container > div {
      margin-bottom: 15px;
    }

    .body-header {
      font-size: 16px;
      font-weight: bold;
      color: var(--dim-white-alpha);
      margin-bottom: -10px;
    }

    .body-text {
      font-size: 10.24px;
      font-weight: normal;
      color: var(--dim-white-beta);
    }


.social-media-container {
  background-color: var(--grey-gamma);
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.social-media-container > div {
  margin: 20px 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  font-size: 25px;
}

.social-media-container > div > a {
  color: var(--dim-white-gamma);
}